<h2>Lista Solicitações de Veículo</h2>

<div class="row " >
    <div class="form-group col-md-12">
        <div  class="float-right"> 
            <a class="btn btn-success" [routerLink]="['/incluir-solicitacao']">Incluir Solicitação</a>
        </div>
    </div>
</div>

<div class="row text-center">
        <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Setor Solicitante</th>
            <th scope="col">Data de cadastro</th>
            <!-- <th scope="col">Parecer</th> -->
            <th scope="col">Setor Atendimento</th>
            <th scope="col">Deliberado por</th>      
            <!-- <th scope="col">Código do Status</th> -->
            <th scope="col">Nome do Status</th>
            <th scope="col" colspan="4">Ação</th>
            </tr>
            </thead>
            <tbody>

            
        
            <tr *ngFor="let solicitacao of solicitacoes">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.solicitanteNome}}</td>
                <td>{{ solicitacao.solitanteLotacaoNome }}</td>
                <td>{{ solicitacao.dataCadastro }}</td>
                <!-- <td>{{ solicitacao.parecer }}</td> -->
                <td>{{ solicitacao.lotacaoTratamentoNome }}</td> 
                <td>{{ solicitacao.solicitanteTratamentoNome}}</td>        
                <!-- <td>{{ solicitacao.solicitacaoStatus }}</td>  -->
                <td>{{ solicitacao.solicitacaoStatusNome }}</td> 
                <td>
                    <button class="btn btn-primary" [routerLink]="['/detalhe-solicitacao', solicitacao.id]">Detalhar</button>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>
                <td>
                    <button class="btn btn-success" [disabled]="solicitacao.solicitacaoStatus != 2"  [routerLink]="['/gestor-solicitacao-transporte', solicitacao.id]">Deliberar</button>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>
                <td>
                    <button class="btn btn-secondary" [disabled]="solicitacao.solicitacaoStatus != 3" [routerLink]="['/gestor-atendimento-transporte', solicitacao.id]">Atendimento</button>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>                
            </tr>
            </tbody>
        </table>
        </div>

