  <div class="card">
    <div class="card-header">
     <h3> Minhas solicitações </h3>
    </div>


    <div class="card-body">


      <div class="row justify-content-between ">
        <div class="col-4">
            <label> Selecione o status para visualizar as solicitações</label>
            <div>
                <select name="solicitacaoRequisitanteUnidadeId" id="solicitacaoRequisitanteUnidadeId" 
                        class="form-control"  (change)="buscaSolicitacaoPorLotacaoEStatus($event.target.value)">
                    <option *ngFor="let status of solicitacoesStatus"  [value]="status">  {{solicitacaoStatusNomeMapeamento[status]}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <label></label>
            <div>
            <a class="btn btn-success" [routerLink]="['/incluir-solicitacao']">Incluir Solicitação</a>
        </div>
            <!-- <div  class="float-right"> 
                <a class="btn btn-success" [routerLink]="['/incluir-solicitacao']">Incluir Solicitação</a>
            </div> -->
        </div>
      </div>

        <!-- <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Setor Solicitante</th>
            <th scope="col">Data de cadastro</th>
            <th scope="col">Setor Atendimento</th>
            <th scope="col">Deliberado por</th>      
             <th scope="col">Nome do Status</th>
            <th scope="col" colspan="4">Ação</th>
            </tr>
            </thead>
            <tbody>

            
        
            <tr *ngFor="let solicitacao of solicitacoes">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.solicitanteNome}}</td>
                <td>{{ solicitacao.solitanteLotacaoNome }}</td>
                <td>{{ solicitacao.dataCadastro  | date: 'dd/MM/yyyy, h:mm a'}}</td>
                <td>{{ solicitacao.lotacaoTratamentoNome }}</td> 
                <td>{{ solicitacao.solicitanteTratamentoNome}}</td>        
                <td>{{ solicitacao.solicitacaoStatusNome }}</td> 
                <td>
                    <button class="btn btn-primary" [routerLink]="['/detalhe-solicitacao', solicitacao.id]">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning" [hidden]="solicitacao.solicitacaoStatus != 2"  [routerLink]="['/gestor-solicitacao-transporte', solicitacao.id]">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-secondary" [hidden]="solicitacao.solicitacaoStatus != 3" [routerLink]="['/gestor-atendimento-transporte', solicitacao.id]">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </button>
                </td>                
            </tr>
            </tbody>
        </table>
    </div> -->
 <app-templante-lista-solicitacao [solicitacaoStatus]="solicitacaoStatusSelecionado"></app-templante-lista-solicitacao> 


</div>
