<div class="container main-container">
  <h4>Detalhe da Solicitação de Veículo</h4>

        
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3>Cadastro da Solicitação</h3>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Setor</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <b>{{detalheSolicitacao.cadastroUnidadeSigla}}</b> -
          {{detalheSolicitacao.cadastroUnidadeDescicao}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="CodRequisitante" class="col-md-2 control-label">Cadastrado por</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao.cadastroFuncionarioNome}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Data de cadastro</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
           {{detalheSolicitacao.cadastroData}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="CodRequisitante" class="col-md-2 control-label">Situação da Solicitação</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao.solicitacaoTransporteStatusNome}} 
        </li>
      </ul>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3>Responsável</h3>
    </div>
  </div>

  <br style="clear: both;"/>

  <div class="form-group">
    <label for="UndCodRequisitante" class="col-md-2 control-label">Setor</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <b>{{detalheSolicitacao.unidadeGestorSigla}}</b> -
          {{detalheSolicitacao.unidadeGestorDescicao}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="CodRequisitante" class="col-md-2 control-label">Responsável</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao.funcionarioGestorNome}}
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3>Solicitação</h3>
    </div>
  </div>

  <br style="clear: both;"/>

  <div class="form-group">
    <label for="CodSolServTab" class="col-md-2 control-label">Serviço</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao.servicoDescricao}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="UndCodTratamento" class="col-md-2 control-label">Unidade de Tratamento</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <b>{{detalheSolicitacao.unidadeTratamentoSigla}}</b> -
          {{detalheSolicitacao.unidadeTratamentoDescicao}}
         
        </li>
      </ul>
    </div>
  </div> -->


      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Requisitante</h3>
        </div>
      </div>

      <br style="clear: both;"/>

      
      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor Requisitante</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao.requisitanteUnidadeSigla}}</b> -
              {{detalheSolicitacao.requisitanteUnidadeDescicao}}              
            </li>
          </ul>
        </div>
      </div>  
      
      <div class="form-group">
            <label for="CodSolServTab" class="col-md-2 control-label">Nome</label>
            <div class="col-md-8">
              <ul class="list-group">
                <li class="list-group-item">
                  {{detalheSolicitacao.requisitanteFuncionarioNome}}
                </li>
              </ul>
            </div>
      </div>
      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Período</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisitanteDataSaida}} até  {{detalheSolicitacao.requisitanteDataRetorno}}
            </li>
          </ul>
        </div>
      </div>   

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Itinerario</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisistanteItinerario}}
            </li>
          </ul>
        </div>
      </div>  

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Descrição do serviço</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisitanteServicoDescricao}}
            </li>
          </ul>
        </div>
      </div> 

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Com motorista</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisistanteComMotorista}}
            </li>
          </ul>
        </div>
      </div> 


      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Gestor do Requisitante</h3>
        </div>
      </div>

      <br style="clear: both;"/>  

      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor Requisitante</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao.requisitanteGestorUnidadeSigla}}</b> -
              {{detalheSolicitacao.requisitanteGestorUnidadeDescicao}}              
            </li>
          </ul>
        </div>
      </div>  

      <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Gestor Responsável</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisitanteGestorNome}} 
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Gestor Responsável Data Deliberação</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <!-- <?php echo $solicitacao->CodUsuarioAprov->PessoaNmCompleto ?> -->
              {{detalheSolicitacao.requisitanteGestorDeliberacaoData}} 
            </li>
          </ul>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Atendimento</h3>
        </div>
      </div>

      <br style="clear: both;"/>


      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor Resonsável pelo Atendimento</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao.atendimentoUnidadeSigla}}</b> -
              {{detalheSolicitacao.atendimentoUnidadeDescicao}}              
            </li>
          </ul>
        </div>
      </div>  

      <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Funcionário Deliberou</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.atendimentoFuncionarioDeliberouNome}}  em {{detalheSolicitacao.atendimentoDeliberouData}}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Parecer</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.atendimentoParecer}} 
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Data de saída liberada</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.atendimentoDataSaidaLiberado}} 
            </li>
          </ul>
        </div>
      </div>



  
  

        <br style="clear: both;"/>


</div>