<div class="container main-container">
  <h4>Detalhe da Solicitação de Veículo</h4>

        
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h3>Cadastro da Solicitação</h3>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Setor/Nome</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <b>{{detalheSolicitacao?.cadastroUnidadeSigla}}</b> -
          {{detalheSolicitacao?.cadastroFuncionarioNome}}
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="CodRequisitante" class="col-md-2 control-label">Cadastrado por</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao.cadastroFuncionarioNome}}
        </li>
      </ul>
    </div>
  </div> -->

  <div class="form-group">
    <label class="col-md-2 control-label">Data de cadastro</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
           {{detalheSolicitacao?.cadastroData}}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="CodRequisitante" class="col-md-2 control-label">Situação da Solicitação</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          {{detalheSolicitacao?.solicitacaoTransporteStatusNome}} 
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group" *ngIf="detalheSolicitacao?.cadastroDataEnvioGestor != null">
    <label class="col-md-2 control-label">Data de envio para o gestor</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
           {{detalheSolicitacao?.cadastroDataEnvioGestor}}
        </li>
      </ul>
    </div>
  </div>


      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Requisitante</h3>
        </div>
      </div>

      <br style="clear: both;"/>

      
      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor/Requisitante</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao?.requisitanteUnidadeSigla}}</b> -
              {{detalheSolicitacao?.requisitanteFuncionarioNome}}              
            </li>
          </ul>
        </div>
      </div>  
      
      <!-- <div class="form-group">
            <label for="CodSolServTab" class="col-md-2 control-label">Nome</label>
            <div class="col-md-8">
              <ul class="list-group">
                <li class="list-group-item">
                  {{detalheSolicitacao.requisitanteFuncionarioNome}}
                </li>
              </ul>
            </div>
      </div> -->
      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Período</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              Saída: {{detalheSolicitacao?.requisitanteDataSaida | date: 'dd/MM/yyyy, h:mm a'}} 
            </li>
            <li class="list-group-item">
              Retorno: {{detalheSolicitacao?.requisitanteDataRetorno | date: 'dd/MM/yyyy, h:mm a'}}
            </li>
          </ul>
        </div>
      </div>   

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Itinerario</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.requisistanteItinerario}}
            </li>
          </ul>
        </div>
      </div>  

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Descrição do serviço</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.requisitanteServicoDescricao}}
            </li>
          </ul>
        </div>
      </div> 

      <div class="form-group">
        <label for="CodSolServTab" class="col-md-2 control-label">Com motorista</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.requisistanteComMotoristaFormatado}}
            </li>
          </ul>
        </div>
      </div> 
      <!-- <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Passageiros</h3>
        </div>
      </div> -->

      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Passageiros</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let passageiro of detalheSolicitacao?.passageiros">
                           
                <b>{{passageiro?.passageiroSetorSigla}}</b> -
                    {{passageiro?.passageiroNome}}              
            </li>
          </ul>
        </div>
      </div>  



      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Gestor do Requisitante</h3>
        </div>
      </div>

      <br style="clear: both;"/>  

      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor/Gestor Responsável</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao?.requisitanteGestorUnidadeSigla}}</b> -
              {{detalheSolicitacao?.requisitanteGestorNome}}              
            </li>
          </ul>
        </div>
      </div>  

      <!-- <div class="form-group">
        <label for="CodRequisitante" class="col-md-2 control-label">Gestor Responsável</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao.requisitanteGestorNome}} 
            </li>
          </ul>
        </div>
      </div> -->

      <div class="form-group" *ngIf="detalheSolicitacao?.requisitanteGestorDeliberacaoData != null">
        <label for="CodRequisitante" class="col-md-2 control-label">Data de Deliberação</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <!-- <?php echo $solicitacao->CodUsuarioAprov->PessoaNmCompleto ?> -->
              {{detalheSolicitacao?.requisitanteGestorDeliberacaoData | date: 'dd/MM/yyyy, h:mm a'}}
            </li>
          </ul>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <h3>Atendimento</h3>
        </div>
      </div>

      <br style="clear: both;"/>


      <div class="form-group">
        <label for="UndCodTratamento" class="col-md-2 control-label">Setor Resonsável pelo Atendimento</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              <b>{{detalheSolicitacao?.atendimentoUnidadeSigla}}</b> -
              {{detalheSolicitacao?.atendimentoUnidadeDescicao}}              
            </li>
          </ul>
        </div>
      </div>  

      <div class="form-group" *ngIf="detalheSolicitacao?.atendimentoDeliberouData != null" >
        <label for="CodRequisitante" class="col-md-2 control-label">Funcionário Deliberou</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.atendimentoFuncionarioDeliberouNome}}  em {{detalheSolicitacao?.atendimentoDeliberouData}}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group" *ngIf="detalheSolicitacao?.atendimentoDeliberouData != null">
        <label for="CodRequisitante" class="col-md-2 control-label">Parecer</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.atendimentoParecer}} 
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group" *ngIf="detalheSolicitacao?.atendimentoDeliberouData != null">
        <label for="CodRequisitante" class="col-md-2 control-label">Data de saída liberada</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.atendimentoDataSaidaLiberado | date: 'dd/MM/yyyy, h:mm a'}}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group" *ngIf="detalheSolicitacao?.atendimentoDeliberouData != null">
        <label for="CodSolServTab" class="col-md-2 control-label">Com motorista</label>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">
              {{detalheSolicitacao?.atendimentoComMotoristaFormatado}}
            </li>
          </ul>
        </div>
      </div> 

        <br style="clear: both;"/>

        <div class="col-sm-2">
          <!-- <button  type="submit" class="btn btn-danger"   >Cancelar Solicitação</button > -->
            <a class="btn btn-primary" [routerLink]="['/solicitacoes']">Voltar</a>
        </div>
</div>