<div class="card">
    <div class="card-header">
           <h3>Deliberação do gestor</h3>
    </div>
      
      
  <div class="card-body">
        <app-template-solicitacao [detalheSolicitacao]="detalheSolicitacao"></app-template-solicitacao>

       <div class="form-group row col-md-8">
        <div class="col-md-8">
          <a class="btn btn-primary" [routerLink]="['/minhas-solicitacoes']">Voltar</a>
        </div>

        <div class="col-md-2">
          <button  class="btn btn-success" (click)="setarDeliberacaoGestor(detalheSolicitacao.id,detalheSolicitacao.requisitanteGestorId, true)"  >Aprovar Solicitação</button >  
        </div>

        <div class="col-md-2">
          <button  class="btn btn-danger" (click)="setarDeliberacaoGestor(detalheSolicitacao.id,detalheSolicitacao.requisitanteGestorId, false)"  >Reprovar Solicitação</button >    
             
        </div>
     </div>
  </div>
</div>
  

