<div class="container main-container">
<h2>Lista Solicitações de Veículo</h2>

<div class="row text-center">
        <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Setor Solicitante</th>
            <th scope="col">Data de cadastro</th>
            <!-- <th scope="col">Parecer</th> -->
            <th scope="col">Setor Atendimento</th>
            <th scope="col">Deliberado por</th>      
            <!-- <th scope="col">Código do Status</th> -->
            <th scope="col">Nome do Status</th>
            <th scope="col" colspan="3">Ação</th>
            </tr>
            </thead>
            <tbody>

            
        
            <tr *ngFor="let solicitacao of solicitacoes">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.solicitanteNome}}</td>
                <td>{{ solicitacao.solitanteLotacaoNome }}</td>
                <td>{{ solicitacao.dataCadastro }}</td>
                <!-- <td>{{ solicitacao.parecer }}</td> -->
                <td>{{ solicitacao.lotacaoTratamentoNome }}</td> 
                <td>{{ solicitacao.solicitanteTratamentoNome}}</td>        
                <!-- <td>{{ solicitacao.solicitacaoStatus }}</td>  -->
                <td>{{ solicitacao.solicitacaoStatusNome }}</td> 
                <td>
                    <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao', solicitacao.id]">Detalhar</a>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>
                <td>
                    <a class="btn btn-success" [routerLink]="['/getor-solicitacao-transporte', solicitacao.id]">Deliberar</a>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>
                <td>
                    <a class="btn btn-info" [routerLink]="['/getor-solicitacao-transporte', solicitacao.id]">Atendimento</a>
                    <!-- <a class="btn btn-primary" [routerLink]="['/detalhe-solicitacao']">Detalhe</a> -->
                </td>
            </tr>
            </tbody>
        </table>
        </div>
</div>
