<div class="card">
  <div class="card-header">
     <h3>Detalhes da solicitação de veículo</h3>
  </div>
            
            
  <div class="card-body">

    <app-template-solicitacao [detalheSolicitacao]="detalheSolicitacao"></app-template-solicitacao>

    <div class="form-group row col-md-8">
      <div class="col-sm-6">
           <button class="btn btn-primary" [routerLink]="['/minhas-solicitacoes']">Voltar</button>
      </div>
      <div class="col-md-offset-4 float-right" *ngIf="detalheSolicitacao?.solicitacaoTransporteStatus == 1">
          <button  class="btn btn-success"  (click)="enviarParaDeliberacao(detalheSolicitacao.id)"  >Enviar para Deliberação do gestor</button >    
      </div>
    </div>  
  </div>
</div>
