<div class="container main-container col-md-6">
    <h1>Login</h1>        <h4>Entre na sua conta</h4>
        <hr>
        <form novalidate (ngSubmit)="efetuarLogin()" [formGroup]="loginForm">

        <div class="form-group">
            <label class="col-md-2 control-label">Usuário</label>
            <div class="col-md-10">
                <input class="form-control" id="login" type="text" placeholder="Usuário (requerido)" formControlName="login"
                  [ngClass]="{'is-invalid': loginForm.get('login').errors && (loginForm.get('login').dirty || loginForm.get('login').touched) }" />
                <span class="text-danger" *ngIf="loginForm.get('login').errors && (loginForm.get('login').dirty || loginForm.get('login').touched)">
                      <p>Preencha seu login </p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" 
                [ngClass]="{'is-invalid': loginForm.get('senha').errors && (loginForm.get('senha').dirty || loginForm.get('senha').touched) }" />
                <span class="text-danger" *ngIf="loginForm.get('senha').errors && (loginForm.get('senha').dirty || loginForm.get('senha').touched)">
                    <p>Preencha sua senha </p>
              </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Login" type="submit" [disabled]="!loginForm.valid" >Login</button></span>
            </div>
        </div>
    </form>
</div>

